<div>

    <h3>{{poll | json}}</h3>
    <p><a [routerLink]='["/dashboard"]'>Go to Polls</a></p>

    <table>
        <tr>
            <th>Option</th>
            <th>Current Count of Votes</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>{{poll.option1Name}}</td>
            <td>{{poll.votes1}}</td>
            <td><button type="sumbit" name="button" (click)='vote(poll._id, "votes1")'>Vote</button></td>
        </tr>
        <tr>
            <td>{{poll.option2Name}}</td>
            <td>{{poll.votes2}}</td>
            <td><button type="sumbit" name="button" (click)='vote(poll._id, "votes2")'>Vote</button></td>
        </tr>
        <tr>
            <td>{{poll.option3Name}}</td>
            <td>{{poll.votes3}}</td>
            <td><button type="sumbit" name="button" (click)='vote(poll._id, "votes3")'>Vote</button></td>
        </tr>
        <tr>
            <td>{{poll.option4Name}}</td>
            <td>{{poll.votes4}}</td>
            <td><button type="sumbit" name="button" (click)='vote(poll._id, "votes4")'>Vote</button></td>
        </tr>
    </table>
    {{poll | json }}
</div>
